body{
	margin:0;
	padding:0;
}
#home{
	height:100%;
	width:100%;
}
#yemen{
	float:left;
	height:90%;
	width:100%;
	background-image:linear-gradient(to top, #212121 33%,#fafafa 33% 66%,#f44336 66%);
}
#bhutan{
	float:left;
	height:90%;
	width:100%;
	position:relative;
	background-image:linear-gradient(to top left ,#ef6c00 50%,#ffe082 50%);
}
#japan{
	float:left;
	height:90%;
	width:100%;
	position:relative;
	background-color:white;
	box-shadow: 0 0 3px black;
}
#india{
	float:left;
	height:90%;
	width:100%;
	position:relative;
	background-image:linear-gradient(to bottom,#E67E22 33%,#FDFEFE 33% 66%,#186A3B 66%);
}
#img1{
	position:absolute;
	width:70%;
	left:10%;
}
#img2{
	position:absolute;
	width:35%;
	left:30%;
	top:17%;
}
#img3{
	position:absolute;
	left:40%;
	top:31%;
	width:20%;
}
.div1{
	float:left;
	height:45%;
	width:40%;
	margin-left:7%;
	margin-top:2%;
}
h2{
	width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

