body{
	margin:0;
	padding:0;
}
#home{
	height:100%;
	width:100%;
	margin-top: 1%;
}
#yemen{
	float:left;
	margin-left:10%;
	height:80%;
	width:80%;
	background-image:linear-gradient(to top, #212121 33%,#fafafa 33% 66%,#f44336 66%);
}
#bhutan{
	float:left;
	margin-left:10%;
	height:80%;
	width:80%;
	position:relative;
	background-image:linear-gradient(to top left ,#ef6c00 50%,#ffe082 50%);
}
#japan{
	float:left;
	margin-left:10%;
	height:80%;
	width:80%;
	position:relative;
	background-color:white;
	box-shadow: 0 0 3px black;
}
#india{
	float:left;
	margin-left:10%;
	height:80%;
	width:80%;
	position:relative;
	background-image:linear-gradient(to bottom,#E67E22 33%,#FDFEFE 33% 66%,#186A3B 66%);
}
#img1{
	position:absolute;
	width:70%;
	left:10%;
}
#img2{
	position:absolute;
	width:35%;
	left:30%;
	top:17%;
}
#img3{
	position:absolute;
	left:40%;
	top:31%;
	width:21%;
}
.div1{
	float:left;
	height:50%;
	width:45%;
	margin-left:3%;
}
h2{
	width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

