body{
	margin:0;
    position:relative;
    background-image:url("body_background.jpeg");
    background-size:cover;
    background-attachment:fixed;
}
#welcome{
	
	background-image:url("welcome_image.jpg");
	color:black;
	background-size:cover;
	background-repeat:no-repeat;
	height:100%;
	border:1px solid black;
	box-sizing: border-box;
	
}
#wel-head2{
	font-family:'Lobster', cursive;
	margin:0;
	margin-top:10%;
	color:black;
	padding-left:30%;
}
#wel-head1{
	font-family:'Lobster', cursive;
	font-size:80px;
	margin:0;
	color:black;
	padding-left:15%;
}
#icon-img{
	margin-left: 53px;
  	margin-top: 50px;
	width:50%;
	height:50%;
	border-radius:50%;
}
.innerdiv{
	height:100%;
	width:50%;
	float:left;
	
}
#intro{
	font-size:25px;
	margin-left:5%;
}
#home{
	position:relative;
}
#mydetail{
	height:100%;
	width:80%;
	border:1px solid black;
	box-sizing: border-box;
	margin:auto;
	background: #F9F9F9;
    box-shadow: 0 0 3px black;
    margin-top: -2%;
}
#head{
	height:10%;
	background-color:#795548;
	position:fixed;
	width:100%;
	margin-top:0;
	z-index:1000; //header tag is hidding behaind the project id  so use the atribute
}
#nav-keys>a{
    width: 15%;
    float: left;
    height:100%;
}
.nav-li{
	display:inline-block;
    width: 100%;
    float: left;
    height:50%;
    color:black;
    text-decoration: none;
    text-align:center;
    margin-top: 12%;
    font-size:20px;
}
#nav-keys{
	margin:0;
	height: 100%;
}
.image1{
	width:100%;
	height:100%;
	transform: scale(1.1);
	transition:0.5s;
}
#nav-keys>a:hover {
  background-color:white;
  }
#project{
	height:300%;
	padding-top: 2%;
	background-image:url("project_background.jpeg");
	background-size:cover;
	background-repeat:no-repeat;
}
.child{
	width:35%;
	height:20%;
	float: left;
	margin-top: 5%;
	margin-left:8%;
	overflow:hidden;
	position:relative;
	background-color: rgba(201, 39, 208 ,0.5);
}
.child:hover .image1{
	transform:scale(1);
	opacity:0.7;
	
}

#contact{
	height:100%;
	background-color: #9e9e9e30;
}
#inform{
	height:70%;
	width:80%;
	margin:auto;
	padding-top: 2%;
	
}
#parent{
	height:30%;
	width:100%;
	
}
.input1{
	width:40%;
	height:10%;
	margin-left:5%;
	border-radius:5px;
	font-size: 20px;
	margin-top:5%;
}

#msg{
	width:85%;
	height:50%;
	margin-left:5%;
	margin-top:2%;
	border-radius:5px;
	font-size: 20px;
}
#send{
	font-size:30px;
	margin-left:40%;
	width:15%;
	background: #7AA93C;
	border-radius: 10px;
	margin-top:2%;
}
#inform-head{
	text-align:center;
	margin:auto;
	border-bottom:3px solid black;
	box-sizing: border-box;
	width:30%;
	border-radius:10px;
}
.image2{
	width:15%;
	height:35%;
	margin-top: 8%;
	margin-left:2%;
}
.image2:hover {
  transform: scale(1.2);
  }
#icon{
	height:50%;
	width:30%;
	margin:auto;
	padding-left: 4%;
}
#footer{
	height:30%;
	background-color:#795548;
	margin-top: 4%;
	position: relative;
	padding-top: 1%;
}
#end{
	font-size:20px;
	text-align:center;
}
#email{
	font-size:20px;
	text-align:center;
	margin:0;
}
#inner-head1{
	margin-left:5%;
	border-bottom:1px solid black;
	width:49%;	
}
#inner-head2{
	margin-left:5%;	
}
#para{
	font-size:30px;
	margin-left:5%;	
	
}
#project-head{
	margin:0;
	text-align: center;
}
#inner-img{
	margin-left:5%;	
}
#wel-div{
	width:15%;
	height:10%;
	background-color:black;
	margin-left: 30%;
	position: relative;
	top:7%;
}
#wel-para{
	position: absolute;
	top:10%;
	left:25%;
	color: white;
}
#wel-div:hover{
	background-color:#795548;
	
}
.project-div{
	position: absolute;
	height:100%;
	width:100%;
	border: 1px solid white;
	box-sizing: border-box;
	top: 0;
}
.title{
	text-align:center;
	color:black;
	margin-top:0;
	background-color:white;
}






