body{
	margin:0;
	padding:0;
	position:relative;
	background-image:url("Background-Image.jpg");
	background-size:cover;
	}
#home{
	width:40%;
	height:75%;
	background-color:#263238;
	border-radius: 15px;
	position:absolute;
	top:15%;
	left:30%;
}
#parent{
	width:80%;
	height:80%;
	background-color:#263238;
	position:absolute;
	top:10%;
	left:10%;
	
	}
#display{
	width:99%;
	height:20%;
	border-radius: 15px;
	font-size:40px;
	text-align:right;
	background-color: #e6ee9c;
	padding-right: 2%;
}
.button{
	width:20%;
	height:14%;
	margin-top:2%;
	margin-left:5%;
	border-radius: 15px;
}
.button1{
	width:20%;
	height:14%;
	margin-top:2%;
	border-radius: 15px;
}
#delete{
	width:46%;
	height:14%;

}					
	
