body{
	margin:0;
	padding:0;
}
#home{
	width:100%;
	height:100%;
	
}
.parent{
	width:50%;
	height:50%;
	float:left;
	overflow:hidden;
}
.child{
	width:100%;
	height:100%;
	position:relative;
	transition:1s;
	
}
img{
	width:100%;
	height:100%;
}
.div{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding-top: 100px;
	padding-left:277px;
	
}
.parent:hover .child{
	transform:scale(1.2);
}
.parent:hover #div1{
	background-color:rgba(201, 39, 208 ,0.5);
}
.parent:hover #div2{
	background-color:rgba(244, 208, 63,0.5);
}

.parent:hover #div3{
	background-color:rgba(39, 174, 96,0.5);
}
.parent:hover #div4{
	background-color:rgba(100, 30, 22,0.5);
}
a{
	opacity:0;
	font-size:30px;	
}
.parent:hover a{
	opacity:1;
	display: block;
    margin-top: 10%;
    width: 10%;
    margin-left: 10%;
}



	
